<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<header>
    <nav>
        <ul>
            <a href="<li><%= politics%></li>">Politics</a>
            <a href="<li><%= economy%></li>">Economy</a>
            <a href="<li><%= sports%></li>">Sports</a>
            <a href="<li><%= entertainment%></li>">Entertainment</a>
            <a href="<li><%= technology%></li>">Technology</a>
        </ul>
    </nav>
</header>